<%= form_for(@fly) do |f| %>
  <% if @fly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fly.errors.count, "error") %> prohibited this fly from being saved:</h2>

      <ul>
      <% @fly.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chr1 %><br>
    <%= f.text_area :chr1 %>
  </div>
  <div class="field">
    <%= f.label :chr2 %><br>
    <%= f.text_area :chr2 %>
  </div>
  <div class="field">
    <%= f.label :chr3 %><br>
    <%= f.text_area :chr3 %>
  </div>
  <div class="field">
    <%= f.label :chr4 %><br>
    <%= f.text_area :chr4 %>
  </div>
  <div class="field">
    <%= f.label :cross_id %><br>
    <%= f.text_field :cross_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
