<p id="notice"><%= notice %></p>

<h1>Listing Flies</h1>

<table>
  <thead>
    <tr>
      <th>Chr1</th>
      <th>Chr2</th>
      <th>Chr3</th>
      <th>Chr4</th>
      <th>Cross</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flies.each do |fly| %>
      <tr>
        <td><%= fly.chr1 %></td>
        <td><%= fly.chr2 %></td>
        <td><%= fly.chr3 %></td>
        <td><%= fly.chr4 %></td>
        <td><%= fly.cross_id %></td>
        <td><%= link_to 'Show', fly %></td>
        <td><%= link_to 'Edit', edit_fly_path(fly) %></td>
        <td><%= link_to 'Destroy', fly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fly', new_fly_path %>
