<p id="notice"><%= notice %></p>

<p>
  <strong>Chr1:</strong>
  <%= @fly.chr1 %>
</p>

<p>
  <strong>Chr2:</strong>
  <%= @fly.chr2 %>
</p>

<p>
  <strong>Chr3:</strong>
  <%= @fly.chr3 %>
</p>

<p>
  <strong>Chr4:</strong>
  <%= @fly.chr4 %>
</p>

<p>
  <strong>Cross:</strong>
  <%= @fly.cross_id %>
</p>

<%= link_to 'Edit', edit_fly_path(@fly) %> |
<%= link_to 'Back', flies_path %>
