<div class="white-bg">
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="<%= request.base_url %>">Drosophila.me</a></li>
    <li><a href="<%= request.base_url %>/stocks">Stocks</a></li>
    <li>
      <span class="show-for-sr">Current: </span> New stock
          </li>
  </ul>
</nav>
<h1>Add new stock</h1>
<%= form_for :cross, :url => {:controller => "stocks", :action => "add"}, :method => "get", auto_labels: false do |f| %>
  <div class="field">
    <div class="panel">
      <h5>Genotype</h5>
      <h6>Separate sister chromosomes with a slash [/] and alleles on the same chromosome with a comma [,]</h6>
      <div class="row">
        <div class="large-6 columns">
          <label>X chromosome
          <%= f.text_field :X, :value => "+/+" %>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Chromosome 2
          <%= f.text_field :II, :value => "+/+" %>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Chromosome 3
          <%= f.text_field :III, :value => "+/+" %>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Chromosome 4
          <%= f.text_field :IV, :value => "+/+" %>
          </label>
        </div>
      </div>
    </div>
    <div class="panel">
      <h5>Lethal alleles</h5>
      <label>Alleles separated by semicolon [;] <%= f.text_field :lethal %></label>
      <h5>Balancers</h5>
      <label>Balancers separated by semicolon [;] <%= f.text_field :balancers %></label>
    </div>
    <div class="panel">
    <div class="field panel">
      <%= f.label :room_id %><br>
      <%= f.collection_select :room_id, Room.where("user_id = ?", current_user.id), :id, :name, :prompt => "Choose Stock Room" %>
    </div>
    <div class="field panel">
      <%= f.label "Stock number" %><br>
      <%= f.number_field :number %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
</div>