<h1>Stock n. <%= @stock.number %></h1> 
<div class="panel">
<p>
  <strong>Fly:</strong>
  <%= @stock.fly_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @stock.comment %>
</p>

<p>
  <strong>Date established:</strong>
  <%= @stock.date_established %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @stock.reference %>
</p>

<p>
  <strong>Received from:</strong>
  <%= @stock.received_from %>
</p>

<a href="<%= @stock.id %>/edit" class="button small secondary"><i class="fi-page-edit" ></i> Edit</a>
</div>