<p>
  <strong>Stock number:</strong>
  <%= @stock.number %>
</p>

<p>
  <strong>Fly:</strong>
  <%= @stock.fly_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @stock.comment %>
</p>

<p>
  <strong>Date established:</strong>
  <%= @stock.date_established %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @stock.reference %>
</p>

<p>
  <strong>Received from:</strong>
  <%= @stock.received_from %>
</p>
