<%= form_for(@cross) do |f| %>
  <% if @cross.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cross.errors.count, "error") %> prohibited this cross from being saved:</h2>

      <ul>
      <% @cross.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
<div class="panel">
  <h5>Male genotype</h5>
     <%= text_field_tag(:male)%>
</div>

<div class="panel">
  <h5>Female genotype</h5>
     <%= text_field_tag(:female) %>
</div>


<div class="actions">
    <%= f.submit %>
</div>
</div>

<% end %>
