<h1>History of cross</h1>

<% generation = 1 %>
 
<% isparent = [] %>
<% @crosses.each do |cro|
	isparent.append(cro.male_id)
	isparent.append(cro.female_id)
end %>

<% @crosses.each do |cro| %>

<h5>F<%= generation %></h5>
<div class="panel">
\[\underbrace{

&#x2642; \quad 

<% semikolon = 0 %>

<% 
flym = Fly.find(cro.male_id)
flyf = Fly.find(cro.female_id)
@parent_male = [flym.chr1.split('/').to_set, flym.chr2.split('/').to_set, flym.chr3.split('/').to_set, flym.chr4.split('/').to_set]
@parent_female = [flyf.chr1.split('/').to_set, flyf.chr2.split('/').to_set, flyf.chr3.split('/').to_set, flyf.chr4.split('/').to_set]
%>

<% @parent_male.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %> 

\qquad X \qquad 

<% semikolon = 0 %>
<% @parent_female.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
\quad &#x2640;
}\]

<div align="center">

<% 
@progeny = []
@prog_id = []

prog = Fly.where("cross_id = ?", cro.id)

if cro.male_id == cro.female_id
    prog = prog.drop(0)
else
    prog = prog.drop(2)
end

prog.each do |n|
    @progeny.append([n.chr1.split('/').to_set, n.chr2.split('/').to_set, n.chr3.split('/').to_set, n.chr4.split('/').to_set])
    @prog_id.append(n.id)
end

@balancers = cro.balancers.split(';')
@balancer_string = cro.balancers
@lethal = cro.lethal.split(';')
@lethal_string = cro.lethal
%>

<% counter = 0 %>
<% @progeny.each do |p| %>
	<% semikolon = 0 %>

<% #Check for lethal and balancers %>
<% death = 0 %>
	<% p.each do |chr| %>
		<% if chr.size == 1 %>
			<% chr.each do |n| %>
				<% n = n.split(',') %>
				<% @balancers.each do |b| %>
					<% n.each do |g| %>
					<% if g == b %>
						<% death = 1 %>
					<% end %>
					<% end %>
				<% end %>

				<% @lethal.each do |l| %>
					<% n.each do |g| %>
					<% if g == l %>
						<% death = 1 %>
					<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>


	<% realparent = 0
	   isparent.each do |ip| 
	    if ip == @prog_id[counter]
	    	realparent = 1
	end end %>


	<% if death == 1 %>
		<a class="button small disabled alert">
	<% elsif realparent == 1 %>
	    <a class="button small success">
	<% else %>
		<a class="button small secondary">
	<% end %>

		\[
	<% p.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
	\]

<% if death != 1 %>

<% else %>
<i class="fi-skull size-21"></i>
<% end %>

</a>
	<% counter = counter + 1 %>
<% end %>
</div>
</div>

<% generation = generation + 1 %>
<% end %>