<h1>Listing Crosses</h1>

<% @crosses.each do |cross| %>

<% @flym = Fly.find(cross.male_id) %>
<% @flyf = Fly.find(cross.female_id) %>

<a href="<%= short_path(cross.friendly_id) %>">
<div class="panel">
  <h6>
  	<%= @flym.chr1 %> ; <%= @flym.chr2 %> ; <%= @flym.chr3 %> ; <%= @flym.chr4 %> 
  	X 
  	<%= @flyf.chr1 %> ; <%= @flyf.chr2 %> ; <%= @flyf.chr3 %> ; <%= @flyf.chr4 %>
  </h6>
  <p><%= cross.description %></p>
</div>
</a>
<% end %>
