<p id="notice"><%= notice %></p>
<p>

<%= link_to @cross, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert small" do %>
	<i class="fi-trash size-21" ></i>
<% end %>
</p>

<%= form_for :cross, :url => {:action => "create"}, :method => "post" do |f| %>
<div class="panel">
\[\underbrace{

&#x2642; \quad 

<% semikolon = 0 %>
<% @parent_male.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %> 

\qquad X \qquad 

<% semikolon = 0 %>
<% @parent_female.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
\quad &#x2640;
}\]

<div align="center">
<% counter = 0 %>
<% @progeny.each do |p| %>
	<% semikolon = 0 %>

<% #Check for lethal and balancers %>
<% death = 0 %>
	<% p.each do |chr| %>
		<% if chr.size == 1 %>
			<% chr.each do |n| %>
				<% @balancers.each do |b| %>
					<% if n == b %>
						<% death = 1 %>
					<% end %>
				<% end %>
				<% @lethal.each do |l| %>
					<% if n == l %>
						<% death = 1 %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	<% if death == 1 %>
		<a class="button small disabled alert">
	<% else %>
		<a class="button small secondary">
	<% end %>

		\[
	<% p.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
	\]
&#x2642;
<%= radio_button_tag(:male_id, @prog_id[counter]) %>
 | &#x2640;
<%= radio_button_tag(:female_id, @prog_id[counter]) %>
</a>
	<% counter = counter + 1 %>
<% end %>
</div>
</div>

<h3>Next cross</h3>
<div class="panel">
<%= f.hidden_field(:balancers, :value => @balancer_string) %>
<%= f.hidden_field(:lethal, :value => @lethal_string) %>
<%= f.hidden_field(:parent, :value => @cross.id) %>
<%= f.hidden_field(:link, :value => @random_string) %>
<%= f.submit %>
</div>
<% end %>