<p id="notice"><%= notice %></p>
<p>

<%= link_to @cross, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert small" do %>
	<i class="fi-trash size-21" ></i>
<% end %>
</p>

<%= mathjax_tag %>
<div class="panel">
\[\underbrace{

&#x2642; \quad 

<% semikolon = 0 %>
<% @parent_male.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %> 

\qquad X \qquad 

<% semikolon = 0 %>
<% @parent_female.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
\quad &#x2640;
}\]

<div align="center">
<% counter = 0 %>
<% @progeny.each do |p| %>
	<% semikolon = 0 %>

<% #Check for lethal and balancers %>
<% death = 0 %>
	<% p.each do |chr| %>
		<% if chr.size == 1 %>
			<% chr.each do |n| %>
				<% @balancers.each do |b| %>
					<% if n == b %>
						<% death = 1 %>
					<% end %>
				<% end %>
				<% @lethal.each do |l| %>
					<% if n == l %>
						<% death = 1 %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	<% if death == 1 %>
		<a class="button small disabled alert">
	<% else %>
		<a class="button small secondary" href="?fly=<%= @prog_id[counter] %>&s=<%= params[:g] %>&of=<%= params[:of] %>">
	<% end %>

		\[
	<% p.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
	\]</a>
	<% counter = counter + 1 %>
<% end %>
</div>
</div>

<h3>Next cross</h3>

<%= form_for Fly.new do |f| %>
<div class="panel">
<p> &#x2642;
<% if @is_m == 1 %>
<a class="button small secondary">
	\[
	<% semikolon = 0 %>
	<% @next_male.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %> 
	\]
</a>
<input type="hidden" name="male_id" value="@male_id" />
<% else %>
	<% if params[:fly].to_i > 1 && params[:of].to_i > 1 %>
		<a class="button small secondary" href="?g=m&of=<%= params[:of]%>&fly=<%= params[:fly]%>">Select male</a>
	<% else %>
		<a class="button small secondary" href="?g=m&of=<%= params[:fly]%>">Select male</a>
	<% end %>
<% end %>
 X
<% if @is_f == 1 %>
<a class="button small secondary">
	\[
	<% semikolon = 0 %>
	<% @next_female.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %> 
	\]
</a>
<input type="hidden" name="female_id" value="@female_id" />
<% else %>
	<% if params[:fly].to_i > 1 && params[:of].to_i > 1 %>
		<a class="button small secondary" href="?g=f&of=<%= params[:of]%>&fly=<%= params[:fly]%>">Select female</a>
	<% else %>
		<a class="button small secondary" href="?g=f&of=<%= params[:fly]%>">Select female</a>
	<% end %>
<% end %>
&#x2640;
</p>
<% if params[:fly].to_i > 1 && params[:of].to_i > 1 && params[:s] != "" %>
<input type="hidden" name="balancer" value="<%= @balancer_string %>" />
<input type="hidden" name="lethal" value="<%= @lethal_string %>" />
<input type="hidden" name="next_gen" value="1" />
<input type="hidden" name="link" value="<%= @random_string %>" />
<%= f.submit %>
<% end %>
</div>
<% end %>