<p id="notice"><%= notice %></p>
<p>

<%= link_to @cross, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert small" do %>
	<i class="fi-trash size-21" ></i>
<% end %>
</p>

<%= mathjax_tag %>
<div class="panel">
\[\underbrace{

&#x2642; \quad 

<% semikolon = 0 %>
<% @parent_male.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %> 

\qquad X \qquad 

<% semikolon = 0 %>
<% @parent_female.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
\quad &#x2640;
}\]

<div align="center" data-equalizer>
<% @progeny.each do |p| %>
	<% semikolon = 0 %>
	<div draggable="true" class="button small secondary" data-equalizer-watch>\[
	<% p.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
	\]</div>
<% end %>
</div>
</div>

<%= render 'formcrossfly' %>