<p id="notice"><%= notice %></p>

<%= mathjax_tag %>
<div class="panel">
\[\underbrace{

&#x2642; \quad 

<% semikolon = 0 %>
<% @parent_male.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %> 

\qquad X \qquad 

<% semikolon = 0 %>
<% @parent_female.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
\quad &#x2640;
}\]


<ul class="small-block-grid-3">
<% @progeny.each do |p| %>
	<% semikolon = 0 %>

	<li><a href="?male=<%= p %>">\[
	<% p.each do |chr| %>
		<% if chr.size > 1 %>
			<% if semikolon != 0 %>;<% end %>
			<% chr %>
			\dfrac
			<% chr.each do |n| %>
				{<%= n %>}
			<% end %>
		<% else %>
			<% if semikolon != 0 %>;<% end %>
			<% chr.each do |n| %>
				<%= n %>
			<% end %>
		<% end %> 
		<% semikolon = 1 %>
	<% end %>
	\]</a></li>
<% end %>

</ul>
</div>

<p>
<%= link_to 'Destroy', @cross, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>