<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "drosophila.me" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <% # mathjax_tag :config=>false %>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  </head>

  <body>

<div class="title-bar">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
          <span class="title-bar-title">Drosophila.me</span>
        </div>
        <div class="title-bar-right">
        </div>
      </div>

<div class="off-canvas-wrapper">
          <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left black-back" id="offCanvasLeft" data-off-canvas>
<ul class="vertical dropdown menu"> 
  <li>        
  <a href="<%= root_path %>">
    <label class="white-text">Home</label>
  </a>
</li>
  <li>
  <a href="<%= crosses_path %>">
    <label class="white-text">Your crosses</label>
  </a>
  </li>
  <li>
  <a href="<%= stocks_path %>">
    <label class="white-text">Your stocks</label>
  </a>

<% if user_signed_in? %>
<li>
  <%= link_to edit_user_registration_path, :class => '' do %>
    <label class="white-text">Edit Profile</label>
    </li>
  <% end %>
  <li>
  <%= link_to destroy_user_session_path, method: :delete, :class => '' do %>
    <label class="white-text">Logout</label>
    </li>
  <% end %>
<% else %>
<li>
  <%= link_to new_user_registration_path, :class => '' do %>
    <label class="white-text">New user</label>
    </li>
  <% end %>
  <li>
  <%= link_to new_user_session_path, :class => '' do %>
    <label class="white-text">Login</label>
    </li>
  <% end %>
<% end %>

</ul>
</div>

<div class="off-canvas-content" data-off-canvas-content>



<div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 columns">
<div>
  <% flash.each do |key, value| %>
    <div class="callout <%= key %>"><%= value %></div>
  <% end %>
</div>
    <%= yield %></div>
  <div class="large-1 columns"></div>
</div>

</div>
          </div>
        </div>

<script>
 $(document).foundation();
</script>
<script type="text/javascript">
if (window.MathJax) {
  MathJax.Hub.Queue(
    ["Typeset",MathJax.Hub]
  );
}
</script>

  </body>
</html>
